@import '~bootstrap/scss/bootstrap';

.box {
  border: .5px solid #000;
  display: inline-block;
  height: 150px;
  width: 150px;
  font-size: 50px;
  background-color: #8A4307;
  justify-content: center;

}






// .game-board-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   outline-color: #8A4307;
// }
//
// .game-board {
//   display: flex;
//   flex-wrap: wrap;
//   height: 600px;
//   margin-bottom: 30px;
//   width: 600px;
// }
//
// .box {
//   background: #A75006;
//   border: 2px #000 solid;
//   flex-basis: 33%;
// }
//
// .box:hover {
//   background: #8A4500;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
//
// // .box:hover::after {
// //   content: 'O';
// //   font-size: 62px;
// //   color: black;
// //   position: absolute;
// // }
// @media all and (max-width: 650px) {
//   .game-board {
//     width: 300px;
//     height: 300px;
//   }
// }
